/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
}

/* Cabeçalho */
header {
  background: #3f0549;
  color: #fff;  
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  transition: background 0.3s;
}

nav a:hover {
  background: #444;
  border-radius: 8px;
}

/* Seções principais */
main {
  padding: 30px;
}

.destaque {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

button {
  background: #222;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #555;
}

/* Produtos */
.produtos ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.produtos li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/* Rodapé */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
